@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
    margin: 0px;
    background-color: white;
    overflow: hidden;
}

body h1, h2, h3, h3, h4, h5, h6, p, textarea {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


/*#region Default scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
background: transparent;
}

::-webkit-scrollbar-thumb {
background: rgb(137, 214, 240);
}

::-webkit-scrollbar-thumb:hover {
background: rgb(137, 214, 240);
}
/*#endregion */

.clearDiv {
    clear: both;
}

    .main-header {
        width: 100%;
        height: 144px;
        padding-right: 10px;
        background-color: rgb(131, 223, 253);
        overflow: hidden;
        border: 2px solid black
    }

    .main-header img {
        margin: 10px;
        height: 115px;
    }

#header-image {
    margin-left: 28%;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* The actual popup */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class - hide and show the popup */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  #contact-knop {
      float:right;
      font-size: 25px;
      margin-top: 30px;
      margin-right: 30px;
      color: black;
      text-decoration: none!important;
  }

  #contact-knop, a:link, a:visited {
      text-decoration: none!important;
      color: black;
      font-family: Arial, Helvetica, sans-serif;
  }

  #contact-info {
      text-align: center;
      margin-top: 50px;
  }

  .button-home{
    font-size: 30px;
    margin-top: 50px;
    padding: 20px;
    color: rgb(27, 110, 245);
    border: 1px solid rgb(27, 110, 245);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 30%;
    font-family: Arial, Helvetica, sans-serif;
 }

    #team-select {
        height: 1000px;
        width: 600px;
        float: left;
        background-color: rgb(131, 223, 253);
        overflow-y: scroll;
        overflow-x: hidden;
        border: 2px solid black;
    }

    #team-select ul {
        list-style-type: none;
        -webkit-padding-start: 0;
        -moz-padding-start: 0;
    }

    #team-select h1 {
        font-size: 36px;
        text-align: center;
        margin: 8px;
    }

    .team-field {
        width: 500px;
        height: 128px;
        margin: 5px;
        margin-left: 39px;
        float: left;
        background-color: rgb(41, 192, 243);
        border: 2px solid black;
    }

    .team-field h2 {
        float: left;
        font-size: 25px;
        margin: 5px;
        margin-top: 10px;
        margin-bottom: 0px;
        text-align: center;
    }

    .team-field img {
        float: right;
        width: 130px;
        height: 120px;
        margin-right: 4px;
        margin-top: 4px;
    }

    .team-field:hover {
        background-color: rgb(27, 110, 245);
    }

    .team-description {
       font-size: 15px;
       margin-top: 50px;
       margin-left: 5px;
    }

    .team-description::-webkit-scrollbar {
        width: 6px;
    }

    .team-text {
        float: left;
        overflow: hidden;
        width: 220px;
        height: 140px;
    }

    #individual-select {
        height: 943px;
        width: 680px;
        float: left;
        background-color: rgb(131, 223, 253);
        border: 2px solid black;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .individual-player {
        background-color: rgb(41, 192, 243);
        border: 2px solid black;
        height: 255px;
        width: 545px;
        margin: 8px;
        margin-left: 65px;
    }

    .individual-player img {
        float: right;
        height: 255px;
        width: 245px;
        margin: 0px;
    }

    .individual-textfield {
        width: 300px;
        height: 255px;
        float: left;
        margin: 0px;
        overflow: hidden;
    }

    .individual-textfield h1 {
        font-size: 18px;
        text-align: center;
    }

    .individual-description {
        float: left;
        font-size: 12px;
        margin: 2px;
        overflow: auto;
        float: left;
        height: 150px;
    }

    .individual-button {
        width: 280px;
        height: 35px;
        margin: 10px;
        background-color: rgb(137, 214, 240);
        border: 2px solid black;
        font-size: 24px;
    }

    .individual-button:hover {
        background-color: rgb(27, 110, 245);
        cursor: pointer;
    }

    .individual-description::-webkit-scrollbar {
        width: 6px;
    }

    #individual-content {
        height: 942px;
        width: 1012px;
        float: left;
        background-color: rgb(41, 192, 243);
        overflow-y: scroll;
        overflow-x: hidden;
        border: 2px solid black;
    }

    .content-player-image {
        width: 350px;
        height: 350px;
        float: center;
    }

    #individual-content h1 {
        font-size: 40px;
        text-align: center;
    }

    #individual-content h3 {
        font-size: 24px;
        margin-left: 24px;
        margin-bottom: 8px;
    }
    
    #individual-content h5 {
        font-size: 16px;
        margin-left: 24px;
        margin-bottom: 8px;
    }

    #individual-content h6 {
        font-size: 20px;
        margin: 8px;
        color: red;
    }

    .content-description {
        font-size: 18px;
        margin: 24px;
        margin-top: 0px;
    }

    .content-statisticDesc {
        width: 175px;
        float: left;
        font-size: 18px;
        margin: 0px;
        margin-left: 24px;
    }

    .content-statistics {
        width: 128px;
        float: left;
        font-size: 18px;
        margin: 0px;
        margin-right: 225px;
        text-align: right;
    }

    #content-vote {
        height: 285px;
        width: 528px;
        float: left;
        margin-left: 24px;
    }

    #content-comment {
        width: 952px;
        float: left;
    }

    #content-commentInput {
        width: 443px;
        height: 156px;
        float: left;
        resize: none;
        padding: 0px;
        margin: 24px;
        margin-top: 16px;
        margin-right: 490px;
        background-color: rgb(131, 223, 253);
    }

    #content-commentButton {
        font-size: 24px;
        float: left;
        width: 445px;
        height: 36px;
        background-color: rgb(131, 184, 253);
        border: 2px solid black;
        margin-left: 24px;
        margin-bottom: 24px;
    }

    #content-commentButton:hover {
        background-color: rgb(27, 110, 245);
        cursor: pointer;
    }

    .content-comments {
        width: 443px;
        min-height: 215px;
        float: left;
        background-color: rgb(131, 223, 253);
        border: 2px solid black;
        margin: 24px;
        margin-bottom: 0px;
        margin-right: 0px;
    }
    
    .content-comments h4 {
        font-size: 14px;
        margin: 12px;
        float: left;
        text-align: center;
    }

    .content-comments img {
        float: left;
        width: 20px;
        margin-top: 12px;
    }

    #h5-Rating {
        float: left;
        margin-top: 10px;
    }

    #img-rating {
        float: left;
        width: 20px;
        margin-top: 8px;
        margin-left: 8px;
    }
    
    .content-comments p {
        font-size: 14px;
        margin: 14px;
        white-space: pre-wrap;     
        white-space: -moz-pre-wrap;  
        white-space: -pre-wrap;      
        white-space: -o-pre-wrap;     
        word-wrap: break-word;      
    }

    .clearDiv2 {
        clear: both;
        margin-bottom: 128px;
    }

    .rate
    {
        display: inline-block;
        border: 0;
        float: left;
    }

    /* hide radio buttonns */
    .rate > input[type='radio']
    {
        display: none;
    }

    /* order correctly by floating the labels highest to the right */
    .rate > label.lblRating
    {
        float: right;
    }

    /* the star of the show */
    .rate > label.lblRating:before
    {
        display: inline-block;
        font-size: 4.0rem;
        padding: .3rem .2rem;
        margin: 0;
        cursor: pointer;
        font-family: FontAwesome;
        content: "\f005 "; /* full star */
    }

    /* zero stars rating */
    .rate > label.lblRating:last-child:before
    {
        content: "\f006 "; /* empty star outline */
    }
    /* half star trick */
    .rate label.half:before
    {
        content: "\f089 "; /* half star no outline */
        margin-right: -38px;
    }
    /* click + hover color */
    input:checked ~ label.lblRating, /* color current and previous stars on checked */
    label.lblRating:hover, label.lblRating:hover ~ label.lblRating /* color previous stars on hover */
    { 
        color: #ffd900;
    } 

    /* hover highlights */
    input:checked + label.lblRating:hover, input:checked ~ label.lblRating:hover, /* highlight current and previous stars */
    input:checked ~ label.lblRating:hover ~ label.lblRating, /* highlight previous selected stars for new rating */
    label.lblRating:hover ~ input:checked ~ label.lblRating /* highlight previous selected stars */
    {
        color: #f0cc00; 
    }
